<div class="footer">
  <div class="footer-links">
    <a href="github.com/joshbolland"><i class="fab fa-github"></i></a>
    <a href="https://twitter.com/JoshBolland95"><i class="fab fa-twitter"></i></a>
    <a href="https://linkedin.com/in/joshuabolland/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Built with <i class="fa fa-headphones"></i> by Josh Bolland
  </div>
</div>
